default.nix
/.git-credentials
/.Xauthority
/.bash_history
/.cache/
/.local/
/.nix-profile
/.zcompdump
/.zsh_history
/.zshrc
/Downloads/
/Documents/
/.config/discord/
/.config/BraveSoftware/
/Development/
/.ssh/
/.pki/
/.nix-defexpr/
/.ICEauthority
/.compose-cache/
